* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
    color: white;
}
header {
    display: flex;
    justify-content: space-between;
    width: 77%;
    height: 72px;
    margin: auto;
    align-items: center;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 2px;
}
.logo {

}
.menu-header {
    display: flex;
    width: 229px;
    justify-content: space-between;
    cursor: pointer;
}
.menu-header a {
    color: black;
}
.menu-header a:hover {
    mix-blend-mode: normal;
    opacity: 0.3;
}
.bouton-header {
    cursor: pointer;
    width: 158px;
    height: 48px;
    color: white;
    background-color: black;
    border: 0;
}
.bouton-header:hover {
    color: black;
    background-color: #DFDFDF;;
}


/********************************************************main******************************/
main {
    width: 100%;
}
section:nth-child(1) {
    display: flex;
    height: 490px;
    margin-bottom: 120px;
}
.petite-partie {
    position: relative;
    width: 43%;
    height: 100%;
    background-color: black;
}
.container-petite-partie {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 387px;
    height: 144px;

    color: white;
    font-family: 'DM Sans';
    font-style: normal;
}
.titre-petite-partie {
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
}
.paragraphe-petite-partie {
    margin-top: 21px;
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    color: #FFFFFF;
    mix-blend-mode: normal;
    opacity: 0.6;
}
.grande-partie {
    width: 58%;
    height: 100%;
}
.image-grande-partie {
    width: 100%;
    height: 100%;
}
section:nth-child(2) {
    margin: auto;
    width: 1050px;
    height: 550px;
}
.mode {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
}
.navigable {
    display: flex;
    align-items: center;
    width: 64px;
    height: 32px;
    border-radius: 30px;
    background-color: #DFDFDF;
    margin: 0px 10px 0px 10px;
    cursor: pointer;
}
.rond {
    margin-left: 3px;
    margin-right: 3px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: black;
    cursor: pointer;
}

.container-forfait {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 470px;
}
.forfait {
    width: 350px;
    height: 100%;

    font-family: 'DM Sans';
    font-style: normal;
    text-align: center;
    color: #000000;
}
.forfait:nth-child(1), .forfait:nth-child(3) {
    margin-top: 31.5px;
    height: 407px;
    padding: 40px;
}
.titre-forfait {
    margin-top: 20px;
    font-weight: 700;
    font-size: 24px;
    line-height: 25px;
    margin-bottom: 18px;
}
.paragraphe-forfait {
    margin-bottom: 40px;
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    mix-blend-mode: normal;
    opacity: 0.6;
}
.prix-forfait {
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    letter-spacing: 4.16667px;
    text-transform: uppercase;
}
.mois-forfait {
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    text-align: center;
    mix-blend-mode: normal;
    opacity: 0.6;
}
.pick-forfait {
    margin-top: 52px;
    width: 100%;
    height: 40px;
    cursor: pointer;
    background-color: black;
    border: 0;

    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 2px;
    color: #FFFFFF;
}
.forfait:nth-child(2) {
    background-color: #000000;
    color: white;
    padding: 73px 40px 40px 40px;
}

.droite {
    margin-left: auto;
}
.gauche {
    margin-right: auto;
}
section:nth-child(3) {
    margin-top: 160px;
}
table {
    display: flex;
    flex-direction: column;
    margin-top: 160px;
    width: 707px;
    margin: auto;
    border-collapse: collapse;

    font-family: 'DM Sans';
    font-style: normal;
    color: #000000;
}
caption {
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    text-align: center;
    letter-spacing: 4.16667px;
    text-transform: uppercase;
    margin-bottom: 56px;
}
tr:nth-child(1) th {
    width: 140px;
    border-bottom: 1px solid black;
    padding-bottom: 23px;
}
tr:nth-child(1) th:nth-child(1), .ligne-tableau td:nth-child(1) {
    width: 287px;
    text-align: left;
    padding-left: 10px;
}
tr {
    line-height:48px;
}
.ligne-tableau:nth-child(3) {
    margin-top: 48px;
    margin-bottom: 48px;
}
.ligne-tableau td {
    width: 140px;
}
.ligne-tableau td img {
    padding-left: 60px;
}
section:nth-child(4) {
    margin-top: 160px;
    position: relative;
    width: 100%;
    height: 280px;
}
.image-section-3 {
    width: 100%;
    height: 100%;
}
.container-section-3 {
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 77%;   
    height: 100%;
    top :0;
    margin-left: 50%;
    transform: translateX(-50%);

    font-family: 'DM Sans';
    font-style: normal;
    color: #FFFFFF; 
}
.element-container-section:nth-child(1) {
    height: 144px;
    width: 440px;
}
.read-story {
    width: 180px;
    display: flex;
    justify-content: space-between;
}
.texte-section-3 {
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    letter-spacing: 4.16667px;
    text-transform: uppercase;
}

 /*********************************************footer*******************************************/

 footer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 250px;
    background-color: black;
}
.container-footer {
    display: flex;
    justify-content: space-between;
    width: 77%;
    height: 112px;
}
.element-footer {
    display: flex;
    width: auto;
    height: 100%;
}
.element-gauche, .element-footer:nth-child(2) {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 169px;
    height: 100%;
    margin-right: 110px;
}
.image-reseau {
    color: #FFFFFF;
}
.logo-reseau {
    display: flex;
    justify-content: space-between;
}
.lien-reseau {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}
.lien-reseau li a{
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 2px;
}
.element-footer:nth-child(2) {
    width: auto;
    margin-right: 0;
    text-align: right;
}
.footer-link {
    width: auto;
    display: flex;
    justify-content: space-between;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
    text-align: right;
    letter-spacing: 2px;
    color : white
}
.copyright {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    text-align: right;
    color: #FFFFFF;
    mix-blend-mode: normal;
    opacity: 0.5;
}
.image-reseau, .footer-link, .nav a {
    cursor: pointer;
}
nav a:hover {
    mix-blend-mode: normal;
    opacity: 0.3;
}
.footer-link:hover {
    text-decoration: underline;
}

@media screen and (min-width : 768px ) and (max-width: 1085px) {
    header {
        justify-content: space-around;
        width: 100%;
    }
    .menu-header {
        width: 50%;
        justify-content: space-around;
    }
    
    .petite-partie {
        width: 65%;
    }
    section:nth-child(2) {
        width: 100%;
    }
    .container-forfait {
        flex-direction: column;
        width: 100%;
    }    
    .forfait {
        height: 404px;
        width: 100%;
        margin-top: 0;
        padding: 0;
    }
    .forfait:nth-child(3) {
        margin-top: 0;
    }
    .pick-forfait:nth-child(2) {
        padding: 0;
    }
    table {
        margin-top: 830px;
    }
    .container-footer {
        width: 90%;
        justify-content: space-between;
    }
    .container-section-3 {
        width: 90%;
    }
    footer {
        margin-top: 0;
    }
    .lien-reseau {
        position: absolute;
        flex-direction: row;
        justify-content: space-between;  
        margin-top: 30px;     
        width: 315px;        
        height: 20px;
    } 
    .footer-link p{
        width: auto;
    }
}






/************************************************ JS ************************************************/

.background-black {
    background-color: black;
}
.rond-blanc  {
    background-color: white;
}