* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
    color: white;
}
header {
    display: flex;
    justify-content: space-between;
    width: 77%;
    height: 72px;
    margin: auto;
    align-items: center;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 2px;
}
.logo {

}
.lien:hover {
    text-decoration: underline;
}
.menu-header {
    display: flex;
    width: 229px;
    justify-content: space-between;
    cursor: pointer;
}
.menu-header a {
    color: black;
}
.menu-header a:hover {
    mix-blend-mode: normal;
    opacity: 0.3;
}
.bouton-header {
    cursor: pointer;
    width: 158px;
    height: 48px;
    color: white;
    background-color: black;
    border: 0;
}
.bouton-header:hover {
    color: black;
    background-color: #DFDFDF;;
}

/********************************************main*******************************************************/
main {
    width: 100%;
}
section {
    width: 100%;
}
section:nth-child(1) {
    height: 650px;
    background-color: blue;
}
.presentation {
    position: absolute;
    left: 112px;
    top: 194px;
    
    width: 387px;
    height: 430px;

    color: white;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 2px;
    color: #FFFFFF;
}
.en-tete {
    font-size: 12px;
    color: #FFFFFF;
    margin-bottom: 24px;
}
.titre {
    font-size: 40px;
    line-height: 48px;
    letter-spacing: 4.16667px;
    margin-bottom: 16px;
}
.date {
    font-weight: 400;
    font-size: 13px;
    line-height: 17px;
    margin-bottom: 24px;
}
.auteur {
    font-weight: 400;
    font-size: 13px;
    line-height: 17px;
}
.paragraphe {
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    margin-bottom: 24px;
}
.grid-container {
    display: grid;
    position: relative;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 640px 640px 640px 640px;
}
.container-section {
    position: absolute;
}
.container-section:hover {
    bottom: 20px;
}
.image-section {
    width: 100% !important;
    height: 100% !important;
}
.image-section:hover {
    bottom: 20px;
}
.container-section {
    position: relative;
}
.description-image {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 77%;
    height: 120px;
    bottom: 40px;
    left: 40px;
}
.auteur {
    width: 100%;
    height: 76px;
    border-bottom: 1px solid white;
    color: white;
}
.date {
    font-weight: 400;
    font-size: 13px;
    line-height: 17px;
    margin-bottom: 4px;
}
.titre-description {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
}
.read-story {
    justify-content: space-between;
    display: flex;

    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    color: #FFFFFF;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 2px;   
}

/**************************************************footer*****************************************************************/
footer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 250px;
    background-color: black;
}
.container-footer {
    display: flex;
    justify-content: space-between;
    width: 77%;
    height: 112px;
}
.element-footer {
    display: flex;
    width: auto;
    height: 100%;
}
.element-gauche, .element-footer:nth-child(2) {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 169px;
    height: 100%;
    margin-right: 110px;
}
.image-reseau {
    color: #FFFFFF;
}
.logo-reseau {
    display: flex;
    justify-content: space-between;
}
.lien-reseau {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}
.lien-reseau li a{
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 2px;
}
.element-footer:nth-child(2) {
    width: auto;
    text-align: right;
}
.footer-link {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
    text-align: right;
    letter-spacing: 2px;
    color : white
}
.copyright {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    text-align: right;
    color: #FFFFFF;
    mix-blend-mode: normal;
    opacity: 0.5;
}
.image-reseau, .footer-link, .nav li a {
    cursor: pointer;
}
nav li a:hover {
    mix-blend-mode: normal;
    opacity: 0.3;
}
.footer-link:hover {
    text-decoration: underline;
}